@{
    ViewData["Title"] = "Player Bus";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@model Kinder.Models.Player

<h3>Oh no! First graders. They try to steal your lunch.</h3>

<img src="~/img/firstgraders.jpg" />



@if (ViewBag.foe != null)
{
    if (ViewBag.foe.FoeHP <= 0)
    {
        <p>You vanquish your foe!</p>
    }
}
<br />
<a asp-action="@ViewBag.nextLocation">Battle the First-graders</a>

<hr />
@if (ViewBag.foe != null)
{
    <p>Foe Hp:</p> @ViewBag.foe.FoeHP;
}
<hr />
