@{
    ViewData["Title"] = "Player Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Kinder.Models.Player

<h2>Add a new Kindergartener</h2>
<hr />

<form method="post" asp-action="Create" asp-controller="Player" enctype="multipart/form-data">
    @Html.Label("What's your name?")
    @Html.EditorFor(model => model.PlayerName)

    <input type="file" name="files" />

    <input type="submit" value="Create" />
</form>

